    /* New background color for the navbar */
    a{
        font-size: 1.5rem; font-weight: bold; letter-spacing: 2px;
    }
    .navbar {
        background-color: #34495e; /* Darker blue */
      }
  
      /* Hero section styling */
      .hero-section {
        background-color: #ecf0f1; /* Light grey */
        padding: 100px 0; /* More padding for balance */
        text-align: center;
      }
  
      .hero-section h1 {
        font-size: 3rem;
        font-weight: bold;
      }
  
      .hero-section p {
        font-size: 1.2rem;
        color: #7f8c8d;
      }
      body {
        background-color: #34495e; /* Change this to any color you like */
      }