
.nolose {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}
header {
    display: block;

}
nav {
    display: flex;
    background-color: #414141;
}
.main{
    display: flex;
    background-color: thistle;
}
p{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;

}