/* confirmacion.css */
.confirmacion {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
  }
  
.confirmacion h2 {
    color: #8e44ad;
}
  
  
.confirmacion h3 {
    color: #c0392b;
}

.confirmacion ul li {
    padding: 10px 0;
    border-bottom: 1px solid #8e44ad;
}
  
.confirmacion ul li:last-child {
    border-bottom: none;
}
  