body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
  }
  
.menu {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}
  
.menu h2 {
    color: #8e44ad;
}
  
.menu ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #8e44ad;
}
  
.menu ul li:last-child {
    border-bottom: none;
}
  
.menu button:hover {
    background-color: #9b59b6;
}
  