.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.animeList {
  list-style-type: none;
  padding: 0;
}

.animeItem {
  padding: 10px;
  background-color: #6c757d;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.animeItem a {
  color: #ffffff;
  text-decoration: none;
}

.animeItem:hover {
  background-color: #5a6268;
}
