.cell-red {
    background-color: #FFCCCC;
}

.cell-green {
    background-color: #CCFFCC;
}

.cell-orange {
    background-color: #FFE4CC;
}

.cell-blue {
    background-color: #CCCCFF;
}

.cell-purple {
    background-color: #E6CCFF;
}

.cell-yellow {
    background-color: #FFFFE0;
}
