div {
    
    width: 100%;
    margin-bottom: 80px; 
    padding: 1rem;
    box-sizing: border-box;
  }

#flex-container1 {

  display: flex;
}

#flex-auto1 {
  cursor: pointer;
  background-color: wheat;

  flex: auto;
}

#default1 {
  background-color: lightblue;
}