div {

    padding: 10px 0;
    width: 100%;
    text-align: center;

}
.img-scale {
    transition: transform 0.3s ease; /* Smooth transition */
  }

  /* On hover, scale the image */
  .img-scale:hover {
    transform: scale(1.2); /* 1.2 = 120% of the original size */
  }

  .card-img-top {
    object-fit: cover;
    height: 200px; /* Set a consistent height */
    width: 100%; /* Full width of the card */
  }
